table {
  border-collapse: collapse;
  width: 600px;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-bottom: 64px;
}

.th-head {
  width: 150px;
  padding: 4px;
  text-align: center;

  border: 2px solid #000000;
}

th,
td {
  width: 150px;
  padding: 4px 75px;
  text-align: left;

  border: 2px solid #000000;
}

.even {
  background-color: #fff;
}

.odd {
  background-color: #c7c7c7;
}
